body {/* background-color: #F5F6F7; */}
body { font-size: 12px;font-family: "Î¢ÈíÑÅºÚ", Verdana, Arial, Helvetica, sans-serif; margin: 15px 0;color:#666 }
body, div, dl, dt, dd, ul, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, blockquote { margin: 0; padding: 0 }
table { border-collapse: collapse; border-spacing: 0 }
fieldset, img { border: 0 }
address, caption, cite, code, dfn, em, strong, th, var, optgroup { font-style: inherit; font-weight: inherit }
del, ins { text-decoration: none }
ul { list-style: none }
caption, th { text-align: left }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal }
q:before, q:after { content: '' }
abbr, acronym { border: 0; font-variant: normal }
sup { vertical-align: baseline }
sub { vertical-align: baseline }
legend { color: #000 }
input, button, textarea, select, optgroup, option { font-family: inherit; font-size: inherit; font-style: inherit; font-weight: inherit }
input, button, textarea, select { *font-size: 100% }
a {color: #0063DC;text-decoration: none;}
a:hover {
	background-color: #0063DC;
	color: white;
	text-decoration: none;
}
a.image_link:link, a.image_link:visited, a.image_link:hover, a.image_link:active {
background-color: transparent;
}
h4{
	font-size: 14px;
	font-weight: bold;
}
.clear {
  clear: both;
  }
.h2title{
	color: #FF0084;
	font-size: 1.2em;
	
	font-weight: bold;
}
.h2{color: #888;font-size: 14px;margin: 0 0 12px 0;line-height: 150%;}
/* clear both */
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden }
.clearfix { zoom: 1; display: inline-block; _height: 1px }
*html .clearfix { height: 1% }
*+html .clearfix { height: 1% }
.clearfix { display: block }

/* for webkit */
textarea { resize: none }
input[type=text]:focus,
input[type=password]:focus,
textarea:focus { outline: 0 }

/* outer frame */



#menu {
	font-family: Arial, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	margin: 0px 0;
	padding: 0;
	list-style-type: none;
	background-color: #eee;
	font-size: 13px;
	height: 40px;
	border-top: 2px solid #eee;
	border-bottom: 2px solid #ccc;
}
#menu li {
	float: left;
	margin: 0;				
}
#menu li a {
	text-decoration: none;
	display: block;
	padding: 0 20px;
	line-height: 40px;
	color: #666;
}
#menu li a:hover, #menu li.active a {
	background-color: #f5f5f5;
	border-bottom: 2px solid #DDD;
	color: #999;
}
#menu_wrapper ul {margin-left: 12px;}
#menu_wrapper {padding: 0 16px 0 0; background: url(images/grey.png) no-repeat right;}
#menu_wrapper div {float: left; height: 44px; width: 12px; background: url(images/grey.png) no-repeat left;}


.header_div{height:75px;color: #999;}
#header_content{ width: 950px;margin: 0px auto;text-align: left;margin-bottom: 18px;}


.header_right{
	float:right;
	height:27px;
	

	}
.header_right ul{
	list-style:none;
	margin:0;

	position:relative;
	float:left;	
	top:-29px;

	padding:0 8px;
	position:relative;
	top:3px;
}


.header_right ul li{
	list-style:none;
	float:left;
	display:inline;
	padding:0;	
	}
#head-logo img {
float: left;
margin: 5px 0 0 5px;
}
#head-status{
padding: 4px 15px 2px;
font-size: 11px;
color: #999;
text-align: right;
vertical-align: top;
}

#wrapper{ width: 950px;margin: 0 auto;}

#content {min-height: 420px;overflow:hidden; background: url(./tree.jpg) no-repeat right; }
.sidebox{margin:10px 15px 10px 0;}
#left_content {float: left;width: 620px;min-height:500px;padding-right: 40px;position:relative; }
#right_content {float: right;width: 280px;position:relative; }
#left_content .featurettes {padding: 0;}
.content_box {
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-top-left-radius: 4px 4px;
	border-top-right-radius: 4px 4px;
	border-bottom-right-radius: 4px 4px;
	border-bottom-left-radius: 4px 4px;
}
.content_box {
	background: white;
/*	border: 1px solid;
	-webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
	-moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
	box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
	border-color: #E5E5E5 #DBDBDB #D2D2D2;
	*/
}

/*tag*/

#thetags-wrapper{}
#thetags li {
	position: relative;
	float: left;
	display: inline;
	margin: 0;
	padding: 0;
	margin-right: 9px;
	min-height: 18px;
}
.sidecar{
	margin: 30px -5px 6px;
	padding: 0 5px 6px;
	border-bottom: 2px solid #EEE;

}

/*new question*/
#new-question li {
margin-bottom: 10px;
padding-bottom: 10px;
border-bottom: 1px dashed #DDD;
}
#new-question li .question_img {
float: left;

padding: 3px;
border: 1px solid #DDD;
max-width:100px;
max-height:200px;
}
#new-question li .title {
margin: 0px 0 10px;
color: #666;
font-size:14px
}
#new-question li .content {
margin: 5px 0 0 115px;
color: #666;
font-size:12px
}
#new-question li .replybtn {

display: inline-block;
background-image: url(./image/red-action-btn-bg.gif);
padding: 2px 10px 0 10px;
height: 16px;
border: 1px solid #930016;
color: white;
font-weight: bold;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
margin-top: 15px;
border-top-left-radius: 2px 2px;
border-top-right-radius: 2px 2px;
border-bottom-right-radius: 2px 2px;
border-bottom-left-radius: 2px 2px;

}



/*index list ul li*/
.list-title {
	margin: 10px 0 20px 20px;
	padding: 5px 10px;
	background: #EBF8F9;
}
.index_list{
	width: 560px; height: 250px; overflow: hidden; margin:10px 10px 0px 10px;
}
.index_list .list_image_div{
	float:left;
	margin:0px 15px 10px 0;


}

 .list_image a img{
	background-color: #FFFFFF;
	padding: 1px;
	border: 1px solid #EEE;
}

.list_image a:hover img, .list_div .list_image a:active img {
	border: 1px solid #7F7F7F;
	background-color: lemonChiffon;
}

.list_with_bg{
	border: 1px solid #EEE;
	max-width:130px;
	text-align: center;
}



.best-anwser-info{
	display: inline-block;
	font-size: 10px;
	background-color: #383838;
	color: white;
	text-transform: uppercase;
	padding: 1px 10px 1px 5px;
	margin: 0 0 7px 0;
}
.stacked-look-link-picture{
	max-width:130px;
	max-height:130px;
}

.stacked-look-link {
float: left;
width: 130px;
padding: 4px;
border: 1px solid #ADADAD;
margin-right: 30px;
}
.stacked-look-link-info {
font-weight: bold;
margin: 0 0 5px 0;
text-align: center;
word-wrap: break-word;
}



/*login*/


.login_menu {
	border:1px transparent;
	text-align:left;
	padding:10px;
	margin-left:8px;
	*margin-left:15px;
	margin-top:5px;
	color:#789;
	font-size:11px;
}


.login_menu p {
	margin:0;
}
.login_menu a {
	color:#6AC;
}
.login_menu label {
	font-weight:normal;
	font-size:13px;
}
.login_menu p.remember {
	padding:10px 0;
}
.login_menu p.forgot, .login_menu p.complete {
	clear:both;
	margin:5px 0;
}
.login_menu p a {
	color:#27B!important;
}
.btn-submit {
cursor: pointer;
color: white;
background: #0063DC;
border: 1px solid #528641;
font-size: 14px;
font-weight: bold;
padding: 6px 26px;
border-radius: 3px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-top-left-radius: 3px 3px;
border-top-right-radius: 3px 3px;
border-bottom-right-radius: 3px 3px;
border-bottom-left-radius: 3px 3px;
}


/*footer*/
#footer {
color: #999;
padding-top: 6px;
margin-top: 40px;
overflow: auto;
zoom: 1;
border-top: 1px dashed #DDD;
}


/*loginpage*/
.formtable { width: 100%; margin-top:20px}
.formtable .caption { padding: 10px 0; color: #666; font-size: 12px; }
.formtable .caption h2 { padding-bottom: 8px; border-bottom: 1px solid #CCC; color: #333; font-size: 14px; }
.formtable .caption p { margin-top: 8px; }
.formtable td, .formtable th { padding: 5px; }
.formtable th { padding-right: 1em; text-align: right; }
.formtable caption h2 {
	padding-bottom: 8px;
	border-bottom: 1px solid #CCC;
	color: #333;
	font-size: 14px;
	font-weight: bold;
}


/*loginbar*/
div.RoundedCorner{background: #DFEEF6;margin-top:10px;}
b.rtop, b.rbottom{display:block;background: #FFF}
b.rtop b, b.rbottom b{display:block;height: 1px;overflow: hidden; background: #DFEEF6}
b.r1{margin: 0 5px}
b.r2{margin: 0 3px}
b.r3{margin: 0 2px}
b.rtop b.r4, b.rbottom b.r4{margin: 0 1px;height: 2px}

/* entry */
.question_part{ 
float: left;
margin-bottom: 22px;
width:250px;
}
.answer_part{ 
margin-left: 270px;
}
.answer_part .main{
	border: 1px solid #CCC;
}
.inline_dialog {
width:240px;

margin: 5px auto 3px;

}
.inline_dialog .image_bar{width:240px;}
.inline_dialog img{
	max-width:230px;
	max-height:3500px;
	
}
#yan-question {
background: url(http://l.yimg.com/h/28133/images/all/question-bg-top.gif) repeat-x 0 0;
padding: 20px 20px 20px 12px;
zoom: 1;
}
.accounts{

word-wrap: break-word;
display: block;
font-size: 25px;
font-weight: bold;
color: #494949;
margin: 20px ;
padding: 0 0 15px 0;
line-height: 1.1;}

/* Style for Usual tabs */
.usual {
	  height:600px;
  color:#111;
  padding:15px 20px;
  width:500px;
  margin:8px auto;
  border: 1px solid #E9F4E9;
}
.usual li { list-style:none; float:left; }
.usual ul a {
  display:block;
  padding:6px 10px;
  text-decoration:none!important;
  margin:1px;
  margin-left:0;
  font:10px Verdana;
  color:#FFF;
  background:#0082CB;
}
.usual ul a:hover {
  color:#FFF;
  background:#0063DC;
  }
.usual ul a.selected {
  margin-bottom:0;
  color:#000;
  background:snow;
  border-bottom:1px solid snow;
  cursor:default;
  }
.usual .div{
  padding:10px 10px 8px 0px;
  *padding-top:3px;
  *margin-top:-15px;
  clear:left;
  background:snow;
  font:10pt Georgia;

}
.usual div a { color:#000; font-weight:bold; }
#usual2 { background:#0A0A0A; border:1px solid #1A1A1A; }
#usual2 a { background:#222; }
#usual2 a:hover { background:#000; }
#usual2 a.selected { background:snow; }
.message {
text-align: center; 
border: 1px solid #FAF3CA;
padding: 10px;
background: #FFFADC;
margin-bottom: 10px;
}
#avatar_editor{
height:400px;
padding:10px 0px 8px 0;
}

#loading_pic{
	display:none;
}


/* 2012/2/12 new*/
.iteminbox {
    margin: 15px 0 12px 0;
    overflow: visible;
}
.iteminbox .label {
    height:30px;
    line-height:30px;
    float:left;
    width: 60px;
    margin-right:15px;
    text-align: right;
}
.iteminbox .text {
    width: 203px;
    padding: 5px;
    height: 18px;
    font-size: 14px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border-image: initial;
    border: 1px solid #ACE;
}
.iteminbox .err_msg{
    color:red;
    margin-left:10px;
}
